//Colours
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(210, 4%, 67%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$veryDarkGraishBlue:  hsl(213, 9%, 39%);
$veryDarkDeSaturatedBlue: hsl(212, 27%, 19%);
$featuresBg: #FFFBF8;
$yellow: hsl(51, 100%, 49%);

// Fonts

$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Fraunces', serif;